@model SGeBank.Models.LoanMgr.Bean.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loanValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loanValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lparcelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lparcelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lparcelNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lparcelNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lPaymentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lPaymentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lParcelValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lParcelValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lExpiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lExpiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lPaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lPaymentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
